# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

Debug/blindsafe.d
Debug/blindsafe.o
Debug/cyclops.eep
Debug/cyclops.lss
Debug/cyclops.map
Debug/cyclops.srec
Debug/i2c.o
Debug/i2c.o
Debug/i2c.o
Debug/makedep.mk
Debug/MMA8452.d
Debug/MMA8452.o
Debug/NewPing.d
Debug/NewPing.o
Debug/i2c.o
*.o
cyclops.cppproj
Debug/cyclops.elf
Debug/i2c.o
Debug/i2c.o